body {
    background-color: white;
    margin: 1em;
}
/* Seteando navbar al top de la página*/
#navbar-pinterest {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    background-color: white;
}

.contenedor-finder {
    height: 40px;
    width: 100%;
    border-radius: 24px;
    box-sizing: border-box;
    background-color: transparent;
    padding-left: 1%;

}

.lupa {
    display: flex;
    position: absolute; 
    padding-top: 10px;
    padding-left: 15px;
}

.finder {
    display: block;
    padding-left: 45px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 18px;
    color: black;
    background-color: rgb(247, 240, 240);
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;

}

#pinterest-icon {
    padding: 1%;
}

#notifications {
    padding: 1%;
}

#message {
    padding: 1%;

}

#profile-img {
    padding: 1%;
    padding-right: 2%;
    border-radius: 50%;

}

.home {
    padding-left: 0%;
    padding-top: 1%;
    font-size: 25px;
    font-family: 'Borel', cursive;
    text-decoration: none;
}


.create {

    padding-top: 1%;
    padding-left: 1%;
    font-size: 25px;
    font-family: 'Borel', cursive;
    text-decoration: none;
}


#content {
    margin-top: 80px;
    columns: 5 300px;
    column-gap: 5px;
    
}

.card-image {
    position: relative;
}

.descarga {
    background-color: red;
    padding: 8px;
    border-radius: 25px;
    position: absolute;
    top: 5px;
    right: 10px;
    color: white;
    font-weight:normal;
    font-size: larger;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

.botones {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 300px;
    height: 100%;
    display: flex;
    opacity: 0;
    border-radius: 20px;
    background-color: rgba(0,0,0,.5);
    justify-content: space-around;
    align-items: flex-end;
}

/* Añadiendo función hover para mostrar los botones */
.botones:hover {
    opacity: 1;

}

.share {
    background-color: aliceblue;
    padding:0px;
    border-radius: 50%;
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
}

.share img {
    margin: auto;
}

.more {
    background-color: aliceblue;
    padding: 0px;
    border-radius: 50%;
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
}

.more img {
    margin: auto;
}

.card-image img {
    max-width: 100%;
    margin-bottom: 1em;
    display: block;
    border-radius: 20px;
}


/* Creando media query para ampliar el número de columnas a 8 en vez de 5, ya que la propiedad "columns" es responsiva nativamente */
@media only screen and (min-width: 1025px) {
    #content{
        column-count: 8;
    }
}